@use 'primeicons/primeicons.css';
@use 'primeflex/primeflex.css';

html,
body {
  height: 100%;
  margin: 0; /* remove UA default 8px margin */
  overflow: hidden; /* only the table should scroll */
}

:root {
  --p-toast-width: 800px;
  --p-datatable-body-cell-sm-padding: 4px !important;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: normal;
  font-weight: 400;
}

p-toolbar {
  border: 0 !important;
  padding: 10px !important;
}

p-splitterpanel {
  border: 0 !important;
}

p-paginator {
  padding: 5px !important;
}

