@use "primeicons/primeicons.css";
@use "primeflex/primeflex.css";


html, body {
  margin: 0;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: normal;
    font-weight: 400;
}
